<div class="container">
  <h2>Create an account</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true %>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true %>
      <%= f.input :email,
                  placeholder: 'user@domain.com',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :user_type,
                  as: :radio_buttons,
                  collection: ['I am casual user', 'I am an artist'],
                  required: true %>

      <div class="d-none", id="artistsignup">
      <h5>Hola! We will need additional information:</h5><br>
      <%= f.input :category,
                  autofocus: true %>
      <%= f.input :biography,
                  autofocus: true %>
      <%= f.input :hourly_rate,
                  placeholder: '0',
                  autofocus: true %>
      </div>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create account", class: "btn btn-info" %>
    </div>
  <% end %>
</body>
</html>
