<div class="container">
  <h2>Create an account!</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  placeholder: 'Tom',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first name" }%>
      <%= f.input :last_name,
                  placeholder: 'Ford',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last name" }%>
      <%= f.input :email,
                  placeholder: 'user@domain.com',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  placeholder: '******',
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  placeholder: '******',
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :user_type,
                  as: :radio_buttons,
                  collection: [['I am casual user', 'casual'], ['I am an artist', 'artist']],
                  required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create account", class: "btn btn-info" %>
    </div>
  <% end %>

</body>
</html>
