<div class="show-artist-lokal">
  <div class="banner-artist-all">
    <h1>Artists</h1>
    <p>Scroll down to select and view your preferred artist.<p>
  </div>
  <div class="swiper">
    <div class="container-index-artist">
      <% @artists.each_with_index do |artist, index| %>
        <swiper-slide class="slider">
          <div class="artist-card" style="--index: <%= index %>">
            <div class="imgBx">
              <img src=<%= artist.image_url %>>
            </div>
            <div class="content">
              <div class="details">
                <div class="data">
                  <div class="col">
                    <div class="row">
                      <% if @events.present? %>
                        <h3><%= link_to @events.first.name, event_path(@events.first) %><br><span>Upcoming<br>Event</span></h3>
                      <% end %>
                      <div class="row">
                        <h2><%= artist.name %><br><span><%= artist.category %></span> </h2>
                        <h3><%= truncate(artist.biography, length: 100) %><%= link_to "Learn more", artist_path(artist.id) %></p></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
      <% end %>
    </div>
  </div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const artistCards = document.querySelectorAll('.artist-card');
  const windowHeight = window.innerHeight;

  function updateCardState() {
    artistCards.forEach((card, index) => {
      const cardRect = card.getBoundingClientRect();

      if (cardRect.top <= windowHeight * 0.5 && cardRect.bottom >= windowHeight * 0.5) {
        card.classList.add('open');
        card.classList.remove('closed');
      } else {
        card.classList.remove('open');
        card.classList.add('closed');
      }
    });
  }

  // Add this line to open the first card by default
  artistCards[0].classList.add('open');

  artistCards.forEach((card, index) => {
    if (index !== 0) { // Don't add 'closed' class to the first card
      card.classList.add('closed');
    }
  });

  window.addEventListener('scroll', updateCardState);

  // Set the initial scroll position to center the first card on the screen
  const firstCardRect = artistCards[0].getBoundingClientRect();
  const bannerArtistAll = document.querySelector('.banner-artist-all');
  const bannerHeight = bannerArtistAll.getBoundingClientRect().height;
  const scrollToY = firstCardRect.top + window.scrollY - (windowHeight - firstCardRect.height) / 2 - bannerHeight;

  // Delay the scroll action to allow the page to load completely
  setTimeout(() => {
    window.scrollTo({top: scrollToY, behavior: 'smooth'});
    updateCardState();
  }, 100);
});

</script>


</div>
