<body>
  <div class="show-artist-image">
    <div class="artist-image-profile" style="background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(<%= @artist.image_url %>)">

    </div>

        <h1><%= @artist.name %></h1>
        <h5><%= @artist.category %></h5>

        <div class="show-message-artist">
        <h3>Message</h3>
        </div>


        <div class="show-artist-details">
           <p><%= @artist.biography %></p>
        </div>

            <ul class="social-artist">
        <li><a class="spotify-artist" href="www.spotify.com"><i class="fa-brands fa-spotify"></i></a>
        <li><a class="deezer-artist" href="www.deezer.com"><i class="fa-brands fa-deezer"></i></a>
</li>
        </ul>

      <% if @events.present? %>
        <h3>Past Events</h3>
        <div class="card-past-events">
          <div class="past-events">
            <% @events.select{ |event| event.date < Date.today }.each do |event| %>
              <div class="past-event-card">
                <div class="past-event-image" style="background-image: url(<%= event.image_url %>)"></div>
                <div class="past-event-name">
                  <p><%= link_to event.name, event_path(event) %> - <%= event.date.strftime("%b %e, %y") %></p>
                </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
