<div class="show-artist-card">
  <div class="container">

    <div class="artist-card">

      <div class="artist-show-img">
        <img src=<%= @artist.image_url %>>
      </div>
  <br>
  <br>
  <div class="content">
    <div class="artist-show-details">
      <h2><%= @artist.name %><br><span><%= @artist.category %></span></h2>
      <div class="data">
        <% if @events.present? %>
          <h3><%= link_to @events.first.name, event_path(@events.first) %><br><span>Next Event</span></h3>
          <% formatted_date = (@events.first.date).strftime("%b %e, %y") %>
          <h3><%= formatted_date %><br><span>Date</span></h3>
        <% end %>
        <h3><%= @artist.rating %><br><span>Rating</span></h3>
      </div>
      <div class="data-bio">
        <h3><span>About</span><br></h3>
        <%= truncate(@artist.biography, length: 100) %></p>
      </div>
      <div class="actionBtn">
        <button>Follow</button>
        <button>Message</button>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
