<div class="artist-maincontainerash">

  <div class="foto-artistash">
    <img src=<%= @artist.image_url %> width ="100%">
  </div>

  <div class="artistnameash">
    <h1><%= @artist.name %></h1>
  </div>

  <div class="styleash">
    <%= @artist.category %>
  </div>

  <div class="ratingash">
    <div class="starash">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_hgdd48kZPB.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
    </div>
    <div class="ratingfigure">
      <%= @artist.rating %> / 5 </p>
    </div>
  </div>

  <div class="artist-description">
    <%= @artist.biography %>
  </div>

  <div class="discographyash">
    Discography
  </div>

  <div class="line-5"></div>

  <div class="multimedialinkash">
    <div class="media_link">
      <a href="<%= @artist.media_link %>" target="_blank"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets9.lottiefiles.com/datafiles/MuOEw0WvPc2irO7/data.json"  background="transparent"  speed="0.3"  style="width: 75px; height: 75px;" loop  autoplay></lottie-player></a>
    </div>
    <div class="spotifyash">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ljagy48h.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
    </div>
    <div class="social_media_links">
      <a href="<%= @artist.social_media_links %>" target="_blank"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets7.lottiefiles.com/packages/lf20_wcfkpodg.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player></a>
    </div>
  </div>

  <div class="priceash">
    <div class="d-flex">
      <h1>MUR <%= @artist.hourly_rate %></h1><p class= "xxx">per hour</p>
    </div>
  </div>

  <div class="buttonbookingupcomingevent">
    <%= link_to "Upcoming Event", events_path, class: "button-mainash" %>
    <%= link_to "Book Now", new_booking_path(artist_id: @artist.id), class: "button-mainash" %>
    <%= link_to "Edit Artist Info", edit_artist_path, class: "button-mainash" %>
  </div>


  <%= link_to "Back", artists_path, class: "button-eventash" %>

</div>
