<h1>Artist Show Page</h1>

<div class="container-artist">
  <div class="banner-show-artist">
    <div class="img-artist-container">
      <img src=<%= @artist.image_url %>>
    </div>
  </div>

  <div class="show-artist-details">
    <h2><%= @artist.name %></h2>
    <h3><%= @artist.category %></h3>
    <h5><%= @artist.rating %></h5>
  </div>

  <div class="artist-description">
    <p><%= @artist.biography %></p>
  </div>

  <%= link_to "Edit Artist Info", edit_artist_path, class: "button-main" %>
  <%= link_to "Back", root_path, class: "button-event" %>
</div>
