<div class="bookings-index">
  <div class="container">
    <h1>My bookings</h1>

    <div class="bookings-wrapper">
      <div class="filter">
        <button class="filter-button">Sort by</button>
        <div class="filter-dropdown">
          <a href="<%= bookings_path %>">All</a>
          <a href="<%= bookings_path(sort: 'oldest') %>">Oldest</a>
          <a href="<%= bookings_path(sort: 'upcoming') %>">Upcoming</a>
          <a href="<%= bookings_path(sort: 'over') %>">Events Over</a>
        </div>
        <% if params[:sort].present? %>
          <%= button_to "Remove filter", bookings_path, method: :get, params: { sort: nil }, class: "btn btn-danger remove-filter" %>
        <% end %>
      </div>
    <% unless @bookings.empty? %>
      <% @bookings.each do |booking| %>
        <div class="booking-card <%= 'event-over' if booking.event.date < Date.today %>">
          <div class="booking-card-image" style="background-image: url(<%= booking.event.image_url %>)">
            <% if booking.event.date < Date.today %>
              <div class="event-over-text">EVENT OVER</div>
            <% end %>
          </div>
          <div class="booking-card-body">
            <h5 class="booking-title"><%= booking.event.name %></h5>
            <h6 class="booking-address text-muted"><%= booking.event.address %></h6>
            <p class="booking-event-date">Event Date: <%= booking.event.date.strftime("%B %d, %Y") %></p>
            <p class="booking-normal">Normal Tickets: <%= booking.pax %></p>
            <p class="booking-vip">VIP Tickets: <%= booking.pax_vip %></p>
            <p class="booking-total">Total Price: <%= number_to_currency(booking.total_price, precision: 0, unit: "Rs", format: "%n %u") %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3>No Bookings Yet!</h3>
    <% end %>
    </div>
  </div>

<script>
document.querySelector('.filter-button').addEventListener('click', function() {
  document.querySelector('.filter-dropdown').classList.toggle('show');
});
</script>

</div>
