<div class="bookings-index">
  <div class="container">
    <h1>My bookings</h1>

    <div class="bookings-wrapper">
      <% @bookings.each do |booking| %>
        <div class="booking-card <%= 'event-over' if booking.event.date < Date.today %>">
          <div class="booking-card-image" style="background-image: url(<%= booking.event.image_url %>)">
            <% if booking.event.date < Date.today %>
              <div class="event-over-text">EVENT OVER</div>
            <% end %>
          </div>
          <div class="booking-card-body">
            <h5 class="booking-title"><%= booking.event.name %></h5>
            <h6 class="booking-address text-muted"><%= booking.event.address %></h6>
            <p class="booking-event-date">Event Date: <%= booking.event.date.strftime("%B %d, %Y") %></p>
            <p class="booking-normal">Normal Tickets: <%= booking.pax %></p>
            <p class="booking-vip">VIP Tickets: <%= booking.pax_vip %></p>
            <p class="booking-total">Total Price: <%= number_to_currency(booking.total_price, precision: 0, unit: "Rs", format: "%n %u") %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
