<div class="container">
  <h1>My Bookings</h1>

  <div class="col">
    <% @bookings.each do |booking| %>
      <div class="row">
        <div class="bookings-container">
          <div class="booking-card">
            <div class="booking-card-image" style="background-image: url(<%= booking.event.image_url %>)">
              <div class="booking-card-body">
                <h5 class="booking-title"><%= booking.event.name %></h5>
                <h6 class="booking-address text-muted"><%= booking.event.address %></h6>
                <% if booking.event.date < Date.today %>
                  <p class="booking-over text-danger">EVENT OVER</p>
                <% else %>
                  <p class="booking-event-date">Event Date: <%= booking.event.date.strftime("%B %d, %Y") %></p>
                <% end %>
                <p class="booking-normal">Normal Tickets: <%= booking.pax %></p>
                <p class="booking-vip">VIP Tickets: <%= booking.pax_vip %></p>
                <p class="booking-total">Total Price: <%= number_to_currency(booking.total_price, precision: 0, unit: "Rs", format: "%n %u") %></p>

              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
