<div class="nav-container">
  <div class="navigation">
    <ul>
      <li class="list <%= 'active' if current_page?(root_path) %>">
        <a href="/">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
        </a>
      </li>
      <li class="list <%= 'active' if current_page?(bookings_path) %>">
        <a href="<%= bookings_path %>">
          <span class="icon">
            <ion-icon name="ticket-outline"></ion-icon>
          </span>
        </a>
      </li>
      <li class="list <%= 'active' if current_page?(events_path) %>">
        <a href="<%= events_path %>">
          <span class="icon">
            <ion-icon name="star-outline"></ion-icon>
          </span>
        </a>
      </li>
      <li class="list dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icon">
            <ion-icon name="person-outline"></ion-icon>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
          <%# <%= link_to "Another action", "#", class: "dropdown-item" %> %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>

      <div class="indicator"></div>
    </ul>
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
function handleNavContainerDisplay() {
  const navContainer = document.querySelector(".nav-container");

  const path = window.location.pathname;
  const eventsActive = path.startsWith("/events");
  const artistsActive = path.startsWith("/artists");

  if (eventsActive || artistsActive) {
    navContainer.style.display = "none";
    window.addEventListener("scroll", () => {
      if (window.scrollY + window.innerHeight >= document.body.scrollHeight) {
        navContainer.style.display = "block";
      } else {
        navContainer.style.display = "none";
      }
    });
  }
}

document.addEventListener("DOMContentLoaded", handleNavContainerDisplay);
</script>
