<div class="container">
  <div class="title">
    <h1>Edit <%= @event.name %></h1>
  </div>

  <div class="form">
    <%= simple_form_for @event do |f| %>
      <%= f.input :name, :label => 'Event Name', :required => true %>
      <%= f.input :date, as: :date, :required => true %>
      <%= f.input :venue, :placeholder => 'user@domain.com', :required => true %>
      <%= f.input :description, :inline_label => 'Yes, remember me' %>
      <%= f.input :price_normal, :inline_label => 'Yes, remember me', :required => true %>
      <%= f.input :price_vip, :inline_label => 'Yes, remember me' %>
      <%= f.input :address, :inline_label => 'Yes, remember me' %>
      <%= f.input :capacity, :inline_label => 'Yes, remember me' %>
      <%# <%= f.input :photo, as: :file %> %>
      <%= f.button :submit, :class => "btn btn-primary" %>
    <% end %>
  </div> <br>
  <%= link_to 'Back', event_path(@event), :class => "btn btn-secondary"%>
</div>

</div>
