<div class="col ei-container">
  <div class="ei-row text-center align-items-center">
    <h1>Upcoming Music Festivals</h1>
    <h4>
      <% if params[:tag].present? %>
        <% count = @events.count %>
        <% festival_plural = count > 1 ? "events" : "event" %>
        We found <%= count %> <%= params[:tag] %> <%= festival_plural %>
      <% else %>
        <% count = @events.count %>
        <% festival_plural = count > 1 ? "festivals" : "festival" %>
        We found <%= count %> music <%= festival_plural %>
      <% end %>
    </h4>
  </div>
  <div class="row">
    <swiper-container>
      <% @events.each do |event| %>
        <swiper-slide>
          <div class="ei-card">
            <div class="ei-poster">
              <img src= <%= event.image_url%> alt="">
            </div>
            <div class="ei-details">
              <%# <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1677876816/LOKAL/Lokal_-_logo_v3sszc.png" class="logo"> %>
              <h2> <%= event.name %> </h3>
              <!-- <div class="ei-rating">
                <h4 class="ei-star-icon"><ion-icon name="star-half-outline"></ion-icon><span><%= event.rating %></span></h4>
              </div> -->
              <!-- <div class="ei-like">
                <% if user_signed_in? %>
                  <% if current_user.likes?(event) %>
                    <%= button_to event_like_path(event, current_user.likes.find_by(event: event)), method: :delete, class: "like-button liked", remote: true do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= button_to event_likes_path(event), method: :post, class: "like-button", remote: true do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div> -->
              <div class="ei-like">
                <% if user_signed_in? %>
                  <% if current_user.likes?(event) %>
                    <%= button_to event_like_path(event, current_user.likes.find_by(event: event)), method: :delete, class: "like-button liked", remote: true, data: { turbo: false } do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= button_to event_likes_path(event), method: :post, class: "like-button", remote: true, data: { turbo: false } do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="ei-tags">
                <% event.tags.each do |tag| %>
                  <!-- <span class="<%= tag_class(tag) %>"><%= tag.name %></span> -->
                  <span><%= link_to(tag.name, events_path(tag: tag.name), class: tag_class(tag)) %></span>
                <% end %>
              </div>
              <div class="row ei-location-date">
                <div class="col">
                  <div class="ei-location">
                    <h4><ion-icon name="location-outline"></ion-icon> <span><%= event.venue %></span></h4>
                  </div>
                </div>
                <div class="col">
                  <div class="ei-date">
                    <% formatted_date = (event.date).strftime("%b %e") %>
                    <% formatted_start_time = (event.start_time.present? ? event.start_time.strftime("%H:%M") : '') %>
                    <% formatted_end_time = (event.end_time.present? ? event.end_time.strftime("%H:%M") : '') %>
                    <h4><ion-icon name="today-outline"></ion-icon> <span><%= formatted_date %></span></h4>
                    <h4><ion-icon name="time-outline"></ion-icon><span><%= formatted_start_time %> - <%= formatted_end_time %></span></h4>
                  </div>
                </div>
              </div>
              <%= link_to "More", event_path(event), class: "button-event" %>
            </div>
          </div>
        </swiper-slide>
      <% end %>
    </swiper-container>
    <% if params[:tag].present? %>
      <%= button_to "Remove filter", events_path, method: :get, params: { tag: nil }, class: "btn btn-danger" %>
    <% end %>

    <div style="width: 100%; height: 300px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>


<script>
  document.querySelectorAll('.like-button').forEach(button => {
    button.addEventListener('ajax:success', (event) => {
      const icon = event.currentTarget.querySelector('i');
      icon.classList.toggle('far');
      icon.classList.toggle('fas');
      icon.classList.toggle('liked');
    });
  });
</script>


<!-- <div class="col">
  <div class="ei-row text-center align-items-center">
    <h1>Upcoming Music Festivals</h1>
    <h4>We found <%= @events.count %> music festivals</h4>
  </div>
  <swiper-container class="ei-swiper">
    <div class="ei-cards flex-container">
      <% @events.each do |event| %>
        <swiper-slide class="ei-slider">
          <div class="ei-card">
            <div class="ei-poster">
            <img src= <%= event.image_url%> alt="">
            </div>
            <div class="ei-details">
              <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1677876816/LOKAL/Lokal_-_logo_v3sszc.png" class="logo">
              <h2> <%= event.name %> </h3>
              <div class="ei-rating">
                <h4 class="ei-star-icon"><ion-icon name="star-half-outline"></ion-icon><span><%= event.rating %></span></h4>
              </div>
              <div class="ei-like">
                <% if user_signed_in? %>
                  <% if current_user.likes?(event) %>
                    <%= button_to event_like_path(event, current_user.likes.find_by(event: event)), method: :delete, class: "like-button liked" do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= button_to event_likes_path(event), method: :post, class: "like-button" do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="ei-tags">
                <span>House</span>
                <span>Festival</span>
              </div>
              <div class="ei-location">
                <h4><ion-icon name="location-outline"></ion-icon> <span><%= event.venue %></span></h4>
              </div>
              <div class="ei-date">
                <% formatted_date = (event.date).strftime("%b %e") %>
                <h4><ion-icon name="today-outline"></ion-icon> <span><%= formatted_date %></span></h4>
              </div>
              <%= link_to "More", event_path(event), class: "button-event" %>
            </div>
          </div>
        </swiper-slide>
      <% end %>
    </div>
  </swiper-container>
</div> -->

        <div class="gender-events">
        <% @events.each do |event| %>
           <div class="ei-tags">

            <% event.tags.each do |tag| %>
              <!-- <span class="<%= tag_class(tag) %>"><%= tag.name %></span> -->
               <span><%= link_to(tag.name, events_path(tag: tag.name), class: tag_class(tag)) %></span>
              <% end %>
            </div>
           <% end %>
        </div>


        <div class="events-slide">
          <div class="row">
            <swiper-container>
              <% @events.each do |event| %>
                <swiper-slide>
                  <div class="ei-card">
                    <div class="ei-poster">
                      <img src= <%= event.image_url%> alt="">
                            <div class="ei-like">
                             <% if user_signed_in? %>
                              <% if current_user.likes?(event) %>
                                <%= button_to event_like_path(event, current_user.likes.find_by(event: event)), method: :delete, class: "like-button liked" do %>
                              <i class="fa-regular fa-heart"></i>
                              <% end %>
                              <% else %>
                              <%= button_to event_likes_path(event), method: :post, class: "like-button" do %>
                              <i class="fa-regular fa-heart"></i>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>

                    <div class="ei-details">
                      <h2> <%= event.name %> </h3>

                      <div class="row ei-location-date">
                        <div class="col">
                          <div class="ei-location">
                            <h4><ion-icon name="location-outline"></ion-icon> <span><%= event.venue %></span></h4>
                          </div>
                        </div>
                        <div class="col">
                          <div class="ei-date">
                            <% formatted_date = (event.date).strftime("%b %e") %>
                            <% formatted_start_time = (event.start_time.present? ? event.start_time.strftime("%H:%M") : '') %>
                            <% formatted_end_time = (event.end_time.present? ? event.end_time.strftime("%H:%M") : '') %>
                            <h4><ion-icon name="today-outline"></ion-icon> <span><%= formatted_date %></span></h4>
                            <h4><ion-icon name="time-outline"></ion-icon><span><%= formatted_start_time %> - <%= formatted_end_time %></span></h4>
                          </div>
                        </div>
                      </div>
                      <%= link_to "More", event_path(event), class: "button-event" %>
                    </div>
                  </div>
                </swiper-slide>
              <% end %>
            </swiper-container>
        </div>
            <% if params[:tag].present? %>
            <%= button_to "Remove filter", events_path, method: :get, params: { tag: nil }, class: "btn btn-danger" %>
          <% end %>
      </div>
  </div>
</body>
