<div class="banner-event">
  <div class="container">
    <h1>Upcoming Events</h1>
  </div>
</div>

<div class="card-product">
    <div class="event-img">
        <% @events.each do |event| %>
    </div>

     <div class="img">
        <img src=<%= event.image_url %>>
      </div>

  <div class="card-product-infos">
      <div class="date">
          <p><%= event.date %><p>
      </div>
      <div class="name">
          <h2><%= event.name %></h2>
      </div>
      <div class="address">
          <p><i class="fa-solid fa-location-dot"></i>
          <%= event.address %></p>
      </div>

      <br>
      <br>
      <div class="button-events">
          <%= link_to "More", event_path(event), class: "button-event" %>
      </div>

      <br>
  </div>
  <% end %>
</div>
