<div class="col ei-container">
  <div class="ei-row text-center align-items-center">
    <h1>Upcoming Music Festivals</h1>
    <h4>We found <%= @events.count %> music festivals</h4>
  </div>
  <div class="row">
    <swiper-container>
      <% @events.each do |event| %>
        <swiper-slide>
          <div class="ei-card">
            <div class="ei-poster">
              <img src= <%= event.image_url%> alt="">
            </div>
            <div class="ei-details">
              <%# <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1677876816/LOKAL/Lokal_-_logo_v3sszc.png" class="logo"> %>
              <h2> <%= event.name %> </h3>
              <!-- <div class="ei-rating">
                <h4 class="ei-star-icon"><ion-icon name="star-half-outline"></ion-icon><span><%= event.rating %></span></h4>
              </div> -->
              <div class="ei-like">
                <% if user_signed_in? %>
                  <% if current_user.likes?(event) %>
                    <%= button_to event_like_path(event, current_user.likes.find_by(event: event)), method: :delete, class: "like-button liked" do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= button_to event_likes_path(event), method: :post, class: "like-button" do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="ei-tags">
                <span>House</span>
                <span>Festival</span>
              </div>
              <div class="row ei-location-date">
                <div class="col">
                  <div class="ei-location">
                    <h4><ion-icon name="location-outline"></ion-icon> <span><%= event.venue %></span></h4>
                  </div>
                </div>
                <div class="col">
                  <div class="ei-date">
                    <% formatted_date = (event.date).strftime("%b %e") %>
                    <h4><ion-icon name="today-outline"></ion-icon> <span><%= formatted_date %></span></h4>
                  </div>
                </div>
              </div>
              <%= link_to "More", event_path(event), class: "button-event" %>
            </div>
          </div>
        </swiper-slide>
      <% end %>
    </swiper-container>
</div>
<!-- <div class="col">
  <div class="ei-row text-center align-items-center">
    <h1>Upcoming Music Festivals</h1>
    <h4>We found <%= @events.count %> music festivals</h4>
  </div>
  <swiper-container class="ei-swiper">
    <div class="ei-cards flex-container">
      <% @events.each do |event| %>
        <swiper-slide class="ei-slider">
          <div class="ei-card">
            <div class="ei-poster">
            <img src= <%= event.image_url%> alt="">
            </div>
            <div class="ei-details">
              <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1677876816/LOKAL/Lokal_-_logo_v3sszc.png" class="logo">
              <h2> <%= event.name %> </h3>
              <div class="ei-rating">
                <h4 class="ei-star-icon"><ion-icon name="star-half-outline"></ion-icon><span><%= event.rating %></span></h4>
              </div>
              <div class="ei-like">
                <% if user_signed_in? %>
                  <% if current_user.likes?(event) %>
                    <%= button_to event_like_path(event, current_user.likes.find_by(event: event)), method: :delete, class: "like-button liked" do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= button_to event_likes_path(event), method: :post, class: "like-button" do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="ei-tags">
                <span>House</span>
                <span>Festival</span>
              </div>
              <div class="ei-location">
                <h4><ion-icon name="location-outline"></ion-icon> <span><%= event.venue %></span></h4>
              </div>
              <div class="ei-date">
                <% formatted_date = (event.date).strftime("%b %e") %>
                <h4><ion-icon name="today-outline"></ion-icon> <span><%= formatted_date %></span></h4>
              </div>
              <%= link_to "More", event_path(event), class: "button-event" %>
            </div>
          </div>
        </swiper-slide>
      <% end %>
    </div>
  </swiper-container>
</div> -->


<%# <div class="container"> %>
 <!-- <div class="event-list">
    <%# <swiper-container> %>
      <% @events.each do |event| %>
        <%# <swiper-slide> %>
          <div class="ei-card">
            <div>
              <img src=<%= event.image_url %>>
            </div>
            <div>
              <div class="event-details">
                <p class="date"><%= event.date %><p>
                <h2 class="name"><%= event.name %></h2>
                <p class="address"><i class="fa-solid fa-location-dot"></i>
                <%= event.address %></p>
                <br>
                <%= link_to "More", event_path(event), class: "button-event" %>
              </div>
            </div>
          </div>
        <%# </swiper-slide> %>
      <% end %>
    <%# </swiper-container> %>
    <%= link_to "Back", request.referrer, class: "button-event" %>
  </div> -->
<%# </div> %>
