<div class="banner-event">
  <div class="container">
    <h1>Upcoming Events</h1>
  </div>
</div>

  <div class="wrapper">
    <div class="event-img">
        <% @events.each do |event| %>
      <div class="image">
        <img src=<%= event.image_url %>  alt="">
      </div>
        </div>
    <div class="event-info">
      <div class="details">
        <div class="date">
          <p><%= event.date %><p>
        </div>
        <div class="name">
          <h5><%= event.name %></h5>
        </div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="address">
          <p><%= event.address %></p>
        </div>
        <div class="info">
          <%= link_to "Info", event_path(event) %>
        </div>
      </div>
      </div>
    <% end %>
  </div>

      <div class="grid-container">
      <div class="container">

        <div class="grid-child new">
          <%= link_to "New Event", new_event_path %>
        </div>

        <div class="grid-child back">
          <%= link_to "Back", root_path%>
        </div>

      </div>
      </div>
</div>
