<div class="banner-event">
  <div class="container">
    <h1>Upcoming Events</h1>
  </div>
</div>

<div class="card-product">
    <div class="event-img">
        <% @events.each do |event| %>
    </div>

     <div class="img">
        <img src=<%= event.image_url %>>
      </div>

  <div class="card-product-infos">
      <div class="date">
          <p><%= event.date %><p>
      </div>
      <div class="name">
          <h2><%= event.name %></h2>
      </div>
      <div class="location">
          <i class="fa-solid fa-location-dot"></i>
      </div>
      <div class="address">
          <p><%= event.address %></p>
      </div>
      <div class="button-info">
          <%= link_to "Info", event_path(event) %>
      </div>
  </div>
  <% end %>
</div>
