<div class="container-main-ash">
  <div class="banner-ash">
    <div class="image-ash">
      <img src=<%= @event.image_url %> alt="">
    </div>
    <div class="price-ash">
    <h1> RS <%= @event.price_normal %></h1>
    </div>
  </div>

  <div class="details">
      <div class="details-ash">
    <div class="event-name-ash">
      <p><%= @event.name %></p>
    </div>
    <div class="details-date-ash">
      <div class="rating">
        <p>4.8</p>
      </div>
      <div class="event-date">
        <p><%= @event.date %></p>
      </div>
    </div>
    <div class="map">

      <div class="geolocalisation">
      <p>geolocalisation here !</p>
      </div>

      <div class="address-ash">
        <p><%= @event.venue %></p>
      </div>
    </div>


    <div class="details-description-ash">
        <p><%= @event.description %> </p>
    </div>
  </div>

  <div class="buttonflex-ash">
   <div class="grid-child delete">
      <%= link_to "Delete", event_path(@event),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
    <div class="grid-child edith">
      <%= link_to "Edith", edit_event_path(@event)%>
    </div>
    <div class="grid-child back">
      <%= link_to "Back", events_path%>
    </div>
  </div>


</div>

    <%# # <%= link_to "Delete", event_path(@event), class: "btn btn-warning",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
    <%# <%= link_to "Edit", edit_event_path(@event), class: "btn btn-primary"%>
    <%# <%= link_to 'Back', events_path, :class => "btn btn-secondary"%>
