<div class="back-space">
  <%= link_to "<", events_path, class: "back-button" %>
</div>

<div class="banner-show-event">
  <div class="container-event">
    <div class="img-event-container">
      <% if @event.present? %>
        <img src="<%= @event.image_url %>">
        <p class="price-event">As from Rs <%= @event.price_normal %></p>
      <% end %>
    </div>
  </div>
  <div class="show-event-details">
    <h2><%= @event.name if @event.present? %></h2>
  </div>

  <div class="row">
    <div class="col border-right">
      <div class="circle-text">
        <p>4.8</p>
      </div>
    </div>
    <div class="col">
      <div class="event-date">
        <p><%= @event.date if @event.present? %></p>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col border-right">
      <div class="circle-map">
        <p>Map</p>
      </div>
    </div>
    <div class="col">
      <div class="event-address">
        <% if @event.present? %>
          <p><strong><%= @event.venue %></strong></p>
          <p><%= @event.address %></p>
        <% end %>
      </div>
    </div>
  </div><br>

  <div class="event-description">
    <% if @event.present? %>
      <p><%= @event.description %></p>
    <% end %>
  </div>

  <div class="text-center">
    <% if @event.present? %>
      <%= link_to "Buy Tickets", new_booking_path(event_id: @event.id), class: "button-main" %>
      <%= link_to "Back", request.referrer, class: "button-event" %>
    <% end %>
  </div><br>
</div>


<div class="container-booking">
  <h1>New Booking</h1>

  <div class="container-event">
    <div class="img-event-container">
      <%= puts @event.inspect %>
      <img src=<%= @event.image_url %>>
    </div>
  </div>

  <div class="show-event-details">
    <h2><%= @event.name %></h2>
  </div>

  <div class="event-date">
    <p><%= @event.date %></p>
  </div>

  <div class="event-address">
    <p><strong><%= @event.venue %></strong></p>
    <p><%= @event.address %></p>
  </div>

  <div class="ticket-prices">
    <p>Normal Price: $<%= @event.price_normal %></p>
    <p>VIP Price: $<%= @event.price_vip %></p>
  </div>

  <div class="ticket-quantity">
    <%= simple_form_for @booking do |f| %>
      <%= f.hidden_field :event_id, value: params[:event_id] %>
      <%= f.input :pax, as: :integer, label: "Normal Tickets", input_html: { min: 0, value: 0 }, wrapper: false, required: true %>
      <%= f.input :pax_vip, as: :integer, label: "VIP Tickets", input_html: { min: 0, value: 0 }, wrapper: false, required: true %>
      <p class="total-price">Total: $<span id="total-price">0</span></p>
      <div class="text-center">
        <%= link_to "Proceed to Payment", booking_confirmation_path, method: :post, class: "button-main" %>
        <%= link_to "Back", request.referrer, class: "button-event" %>
      </div><br>
    <% end %>
  </div>
</div>
