<div class="back-space">
  <%= link_to "<", events_path, class: "back-button" %>
</div>

<div class="banner-show-event">
  <div class="container-event">
    <div class="img-event-container">
      <% if @event.present? %>
        <img src="<%= @event.image_url %>">
        <p class="price-event">As from Rs <%= @event.price_normal %></p>
      <% end %>
    </div>
  </div>
  <div class="show-event-details">
    <h2><%= @event.name if @event.present? %></h2>
  </div>

  <div class="row">
    <div class="col border-right">
      <div class="circle-text">
        <p>4.8</p>
      </div>
    </div>
    <div class="col">
      <div class="event-date">
        <p><%= @event.date if @event.present? %></p>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col border-right">
      <div class="circle-map">
        <p>Map</p>
      </div>
    </div>
    <div class="col">
      <div class="event-address">
        <% if @event.present? %>
          <p><strong><%= @event.venue %></strong></p>
          <p><%= @event.address %></p>
        <% end %>
      </div>
    </div>
  </div><br>

  <div class="event-description">
    <% if @event.present? %>
      <p><%= @event.description %></p>
    <% end %>
  </div>

  <div class="text-center">
    <% if @event.present? %>
      <%= link_to "Buy Tickets", new_booking_path(event_id: @event.id), class: "button-main" %>
    <% end %>
  </div><br>
</div>
